<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.bookapp.infra.mapper.BookMapper">

    <select id="findAllBooks">
        SELECT * FROM books
    </select>

    <insert id="insertBook">
        INSERT INTO books (title) VALUES (#{title})
    </insert>

    <select id="findById">
        SELECT * FROM books WHERE id = #{id}
    </select>

    <delete id="deleteById">
        DELETE FROM books WHERE id = #{id} AND status != 'BORROWED'
    </delete>

    <update id="borrowBook">
        UPDATE books SET status = 'BORROWED' WHERE id = #{id}
    </update>

    <update id="returnBook">
        UPDATE books SET status = 'AVAIlABLE' WHERE id = #{id}
    </update>

    <select id="findStatusById">
        SELECT status FROM books WHERE id = #{id}
    </select>

    <select id="search">
        SELECT * FROM books WHERE title LIKE CONCAT('%', #{String}, '%')
    </select>

    <select id="getPopularBooks">
        SELECT
            b.*
        FROM
            books b
        JOIN
            (
                SELECT
                    book_id
                FROM
                    borrow_records
                GROUP BY
                    book_id
                ORDER BY
                    COUNT(*) DESC
                LIMIT 5
            ) br
        ON
            b.id = br.book_id;
    </select>
</mapper>